<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="WebBanHangDbContext" connectionString="data source=DESKTOP-EAC84PL\SQLEXPRESS;initial catalog=ThoiTrangTreEm;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>